@font-face {
    font-family: GameFont;
    src: url("mplus-1m-regular.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

#HPLimit {
  width: 100px;
  height: 15px;

}

#HPBar {
  width: 1%;
  height: 15px;
  background-color: #4CAF50;
}
#MPLimit {
  width: 100px;
  height: 15px;

}

#MPBar {
  width: 1%;
  height: 15px;
  background-color: #4286f4;
}
body{
cursor: URL("mouse.png"), auto;
}

